
<nb-card>
  <nb-card-header>Live</nb-card-header>
  <nb-card-body>
    <nb-select [(selected)]="selectedMeasure" (selectedChange)="changeMeasure($event)">
      <nb-option value="adrenaline">Adrenaline</nb-option>
      <nb-option value="acetylcholine">Acetylcholine</nb-option>
      <nb-option value="ballon">Ballon</nb-option>
    </nb-select>
    <nb-select [(selected)]="selectedGroup" (selectedChange)="changeGroup($event)">
      <nb-option *ngFor="let groupId of [1,2,3,4,5,6,7,8,9,10]" [value]="groupId">Groupe {{ groupId }}</nb-option>
    </nb-select>
    <nb-select [(selected)]="selectedField" (selectedChange)="changeField($event)">
      <nb-option value="FrequenceCardiaque">Fréquence Cardiaque</nb-option>
      <nb-option value="PressionArterielle">Pression Artérielle</nb-option>
      <nb-option value="FrequenceRespiratoire">Fréquence Respiratoire</nb-option>
    </nb-select>
    <nb-select [(selected)]="selectedLimit" (selectedChange)="changeLimit($event)">
      <nb-option value="100">100</nb-option>
      <nb-option value="1000">1.000</nb-option>
      <nb-option value="10000">10.000</nb-option>
      <nb-option value="100000">100.000</nb-option>
    </nb-select>
    <button nbButton [status]="statusButton" size="small" (click)="applySelection()">
      {{ textButton }}
    </button>
    <button *ngIf="statusButton != 'primary'" nbButton [status]="statusPause" size="small" (click)="pauseTimer()">
      {{ textPause }}
    </button>
    <chart type="line" [data]="dataFC" [options]="options"></chart>
  </nb-card-body>
</nb-card>
